html{
	font-family:PingFang-SC-Regular,Helvetica Neue,Helvetica,Droid Sans Fallback,microsoft yahei,sans-serif;
}
.tabBar{
	height: 1.53125rem
	width: 10rem;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	text-align: center;
	justify-content :space-around;
	background: #FFF;
	z-index: 999;
	
	
}
.tabBar a img{
	width: 1.0rem;
	height: 1.0rem;
	color: red;
}
.tabBar a p{
	font-size: 0.222222rem;
	line-height: 0.416667rem;
	text-align: center;
	color:#4A4A4A;
}