header {
	height: 1.25rem;
	line-height: 1.25rem;
	border-bottom: 0.013889rem solid #ebebeb;
	position: relative;
}
header>span img{
	height: 0.430556rem;
	width: 0.25rem;
	vertical-align: middle;
	margin-right: 0.375rem;
	margin-left: 0.416667rem;
}
header>span input{
	height: 0.625rem;
	width: 7.638889rem;
	border-radius: 0.138889rem ;
	padding-left: 0.902778rem;
	font-weight: bold;
	color: black;
	outline: none;
}
header>img{
	position: absolute;
	left: 1.388889rem;
	top: 0.277778rem;
}
.main{
	width: 10.0rem;
}
.main .main_left{
	width: 2.152778rem;
	margin-right: 0.96rem;
	float: left;
	overflow-y:scroll; 
}
.main .main_left ul li{
	width: 2.152778rem;
	height: 1.152778rem;
	line-height: 1.152778rem;
	border-bottom: 0.013889rem solid #efefef;
	padding-left: 0.319444rem;
	font-size: 0.347222rem;
	font-weight: bold;
	background: #f7f7f7;
}

.main .main_left ul li:hover{
	display: block;
	background: white;
	color: red;
	background: url(../img/line5.jpg) no-repeat left center;
}
.main .main_right{
	float: left;
	width: 6.805556rem;
	
}
.main .main_right figure{
	height: 2.5rem;
	width: 2.083333rem;
	float: left;
	margin: 0.833333rem 0.180556rem 0 0;
}
.main .main_right figure img{
	height: 0.875rem;
	width: 1.222222rem;
	margin-bottom: 0.513889rem;
}